* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.cars {
  padding: 100px 0;
  background-color: #222;
  color: white;
}
.cars.dark {
  background-color: white;
}
.cars p.pti {
  font-size: 10px;
  line-height: 10px;
  font-weight: 400;
  color: #f5b754;
  margin-bottom: 15px;
  letter-spacing: 6px;
  text-align: center;
}
.cars h3 {
  font-size: 35px;
  color: #fff;
  margin-bottom: 40px;
  font-weight: 600;
  text-align: center;
}
.cars h3 span {
  color: #f5b754;
}
.cars h3.dark {
  color: black;
}
.cars .car-aitm {
  margin: 0 0 100px;
  position: relative;
}
.cars .car-aitm .img {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.cars .car-aitm .img img {
  width: 100%;
  transition: 0.3s;
}
.cars .car-aitm:hover .img img {
  transform: scale(1.1);
}
.cars .car-aitm .car-cont {
  width: 100%;
  position: absolute;
  bottom:-70px;
  left: 0;
  width: 100%;
}
.cars .car-aitm .car-cont .divcont{
  width: 92%;
  background-color:#1b1b1b ;
  border-radius: 15px;
  margin:  auto;
  padding: 5px 0;
}
.cars .car-aitm .car-cont .divcont.dark {
  background-color: #555;
}
.cars .car-aitm .car-cont .divcont.light {
  background-color: #1b1b1b;
}
.cars .car-aitm .cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 7px ;
}
.cars .car-aitm .cont p {
  margin: 0;
  font-size: 15px;
}
.cars .car-aitm .cont p span {
  color: #f5b754;
  font-size: 17px;
}
.cars .car-aitm .cont h6 {
  margin: 0;
  font-size: 17px;
}
.cars .car-aitm button {
  background: #f5b754;
  color: black;
  padding: 4px 10px;
  border-radius: 20px;
  border: 2px solid #f5b754;
  transition: 0.3s;
  font-weight: 500;
  margin:7px 5px;
}
.cars .car-aitm button:hover {
  background-color: transparent;
  color: white;
} 

.carheder{
  background-image: url(../../imges/asset\ 40.jpeg);
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 58px);
  display: flex;
  align-items: center;
  position: relative;

}
.carheder::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 58px);
  background-color: #0000008f;
}
.carheder * {
  z-index: 1;
}
.carheder p {
  font-size: 10px;
  color: #f5b754;
  letter-spacing: 5px;
  font-weight: 500;
}
.carheder h3 {
  font-size: 35px;
  color: white;
}
.carheder h3 span {
  color: #f5b754;
}